.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color: blue; */
}

.row {
  display: flex;
  /* flex-wrap: nowrap; */
  /* width: 1000px;
    background-color: blueviolet; */

  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.one {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.my {
  /* flex: 1500px;
    padding: 140px; */

  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
/* .hi {
   flex-shrink: 1; 
} 
*/
